@using FlyingDicksTweeter.Models
@using System.Data.Entity
@model Post

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <article>
        <header>
            <h4>
                @Model.Author.FullName
            </h4>

        </header>
        <p>
            @foreach (var word in Model.Content.Split())
            {
                if (word.ToString().StartsWith("#"))
                {
                    <strong> @word </strong>
                }
                else
                {
                    @:@word
                }
            }
        </p>

        <div id="disqus_thread"></div>
        <script>

            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            
            (function () { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = '//http-localhost-51074-1.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>



        <small class="author">
            @if (Model.DateAdded.Date == DateTime.Today.Date)
            {
                @:@Model.DateAdded.Hour : @Model.DateAdded.Minute : @Model.DateAdded.Second - Today
            }
            else
            {
                @:@Model.DateAdded.Day / @Model.DateAdded.Month / @Model.DateAdded.Year
            }
            <br />
        </small>

        <div class="dropdown">
            <a href="#" class="dropdown-toggle btn btn-success" data-toggle="dropdown" role="button" aria-expanded="false">
                Add Comment<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    @{
                        int id = Model.Id;
                    }
                    @Html.Partial("../Comment/_Create", new Comment(id))
                </li>
            </ul>
        </div>
        <footer>
            <div class="pull-right">
                @if (User.IsInRole("Admin") || Model.IsAuthor(User.Identity.Name))
            {
                    @Html.ActionLink("Edit", "Edit", "Post", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs" })
                    @Html.ActionLink("Delete", "Delete", "Post", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
                }
                @Html.ActionLink("Back", "List", "Post", null, new { @class = "btn btn-default btn-xs" })
            </div>
            @if (@Model.Comments.Any())
            {

                <div class="container pull-left">
                    <br />
                    @foreach (var item in Model.Comments.OrderByDescending(c => c.DateAdded))
                {
                    using (var db = new ApplicationDbContext())
                    {
                        Comment comment = db.Comments.Where(c => c.Id == item.Id).Include(a => a.Author).First();
                            <div class="well" style="background-color:#5CEBCE;text-align:center;">
                                <strong>@comment.Author.FullName</strong> Commented <br />
                                @comment.Content <br />
                                @if (comment.DateAdded.Date == DateTime.Today.Date)
                                {
                                    @:@comment.DateAdded.Hour : @comment.DateAdded.Minute : @comment.DateAdded.Second - Today <br />
                            }
                                else
                                {
                                    @:@comment.DateAdded.Day / @comment.DateAdded.Month / @comment.DateAdded.Year <br />
                            }
                                @if (User.IsInRole("Admin") || comment.IsAuthor(User.Identity.Name))
                                {
                                    <div class="dropdown" role="group" aria-label="...">
                                        <div class="btn-group" role="group">
                                            <a href="#" class="dropdown-toggle btn btn-success btn-xs" data-toggle="dropdown" role="button" aria-expanded="false">Edit<span class="caret"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    @Html.Partial("../Comment/_Edit", comment)
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="btn-group" role="group">
                                            <a href="#" class="dropdown-toggle btn btn-danger btn-xs" data-toggle="dropdown" role="button" aria-expanded="false">Delete<span class="caret"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    @Html.Partial("../Comment/_Delete", comment)
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                }

                            </div>

                        }
                    }
                </div>

            }
        </footer>
    </article>
</div>
<hr />
